@import url('https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,700;1,700&family=Open+Sans:wght@600&display=swap');


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-transform: capitalize;
    transition: all 0.3s linear;
    border: none;
    outline: none;
    text-decoration: none;
    font-family: 'Open Sans', sans-serif;
    /* background-color: #fce5e5; */

}

html {
    overflow-x: hidden;
    scroll-behavior: smooth;
}

body {
    overflow: hidden;
}

:root {
    --box-shadow: 4px 5px 5px rgba(0, 0, 0, 0.6);
}

p {
    color: #666;
    line-height: 1.6;
}

.btn {
    padding: 8px 22px;
    background: linear-gradient(180deg, #0984e3, blue);
    color: white;
    border-radius: 12px;
    margin-top: 5px;
    cursor: pointer;
    box-shadow: var(--box-shadow);
}

.btn:hover {
    letter-spacing: 1px;
}

.btn a {
    color: #fff;
}

.btn i {
    padding: 3px;
    margin-right: 3px;
    border-radius: 50%;
    background-color: #fff;
    color: blue;
}

.header {
    position: fixed;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0px 50px;
    background-color: #0984e3;
    width: 100vw;
    height: 60px;
    line-height: 60px;
    z-index:99999999999999999999999999;
    position: relative;
}

.header .logo i {
    /* width: 120px; */
    padding-top: 3px;
    color: #fff;
    font-size: 25px;
    cursor: pointer;
}

.header .logo a {
    color: #fff;
    font-size: 25px;
    cursor: pointer;
    font-family: 'Nunito', sans-serif;
}

.header nav ul {
    display: flex;
}

.header nav ul li {
    list-style: none;
}

.header nav ul li a {
    display: block;
    padding: 0px 20px;
    text-decoration: none;
    color: #fff;
    font-weight: bold;
}

.header nav ul li a:hover {
    color: blue;
}

.header .icon i {
    color: #fff;
    margin-left: 10px;
}

.header .icon i:hover {
    color: blue;
    transform: scale(1.1);
}

div.home {
    width: 100vw;
    /* background-color: black; */
    /* height: 90vh; */
    height: auto;

}

.home .container {
    margin: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    /* max-width: 1000px; */
    flex-wrap: wrap;
    gap: 20px;
    position: relative;
    padding: 0px 100px;
}

.home .container .lines::after {
    content: "";
    position: absolute;
    top: 20%;
    left: 45%;
    width: 100px;
    height: 100px;
    border-radius: 50%;
    /* background-color: pink; */
    background: linear-gradient(180deg, #0984e3, blue);
    z-index: -1;
    animation: animate3 9s linear infinite;
    opacity: 0;
}

@keyframes animate3 {
    0% {
        transform: scale(0);
        opacity: 1;
    }

    100% {
        transform: scale(1.2);

    }
}

.home .container .lines::before {
    content: "";
    position: absolute;
    top: 60%;
    left: -300px;
    width: 300px;
    height: 300px;
    border-radius: 50%;
    /* background-color: pink; */
    background: linear-gradient(180deg, #0984e3, blue);
    z-index: -1;
}

.home .container .box {
    margin-left: 20px;
    position: relative;
    /* border-radius: 30% 70% 70% 30% / 30% 30% 70% 70% ;  */
    /* background: linear-gradient(to left,#0984e3, blue); */
    width: 400px;
    /* z-index: -1; */
    /* opacity: 0.6; */
    /* background-color: red; */
}

.home .container .box::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    /* background-image: linear-gradient(toleft,#0984e3, blue); */
    /* border-radius: 30% 70% 70% 30% / 30% 30% 70% 70% ;   */
    width: 500px;
    height: 500px;
    z-index: -1;
}

.home .container .content img {
    width: 400px;
    height: 420px;
    object-fit: cover;
    position: relative;
    animation: animate1 7s linear infinite;
}

@keyframes animate1 {
    50% {
        transform: translateY(-10px);
    }

}

.home .container .content >img {
    position: absolute;
    z-index: -22;
    top: 40%;
    left: 50%;
    width: 150px;
    height: 150px;
    transform: translate(-50%, -50%);

}
 .home .container .content #splash .round img{
    position: absolute;
    top: 50%;
    left: 72%;
    transform: translate(-50%, -50%);
    width: 400px;
    height: 400px;
    /* background-color: red; */
    border-radius: 50%;
z-index: -1; 
    /* position: relative; */
}

.home .container .content #splash > img {
    padding-top: 100px;
    /* position: relative; */
    z-index: 22;
    animation: animates 5s linear infinite;
    /* z-index: 1; */

}

@keyframes animates{
    50% {
        /* margin-left: 50px; */
        transform: translateX(40px);
    }
    100%{
        /* margin-left: 0; */
        transform: translateX(0);
    }
  

}

.home .container .content {
    flex: 1 1 400px;
}

.home .container .content h3 {
    display: inline-block;
    color: #000;
    font-size: 29px;
}


.home .container .content h3::after {
    content: "";
    /* position: absolute; */
    background: blue;
    width: 0px;
    height: 3px;
    display: inline-block;
    animation: animate2 3s linear infinite;
}

@keyframes animate2 {
    0% {
        width: 0;
    }

    100% {
        width: 50px;
    }

}

.home .container .content h2 {
    font-size: 40px;
    margin: 6px 0px;
    color: #666;
    /* text-align-last; */
}

.home .container .content h2 .text {
    color: blue;
    font-size: 50px;
    font-weight: bold;
    font-family: serif;
}
#bars{
    display: none;
}
nav.active{
    /* top: 0; */
    /* transform: translateX(0); */
    /* transform: translateY(100%); */

}
@media(max-width:768px){
#bars{
    display: inline-block;
    z-index: 999999;
}
.header{
    position: relative;
}
nav{
    /* position: relative; */
}
nav{
    position: absolute;
    top:60px;
    left: 0;
    right: -110%;
    bottom: 0;
    width: 100%;
    height: 100vh;
    z-index: 99;
    background-color: #000;
    transform: translateX(110%);
    display: flex;
    text-align: center;
    flex-flow: column;
    /* background-color: red; */

}
ul{
       text-align: center;
    flex-flow: column;
}
nav.active{
    /* transform: translateX(-300px); */
right: 0;
    /* left: 100px; */
}
}

@media(max-width:860px){
    .home{
        width: 100vw;
        height: auto;
    }
    .container{
        padding-top: 100px;
    }
}
@media(max-width:660px){
    .home{
        display: flex;
        justify-content: center;
        align-items: center;
    }
/* .container{
    display: flex;
    justify-content: center;
    align-items: center;
} */
}

@media(max-width:430px){
    .home .container .content #splash > img {
        padding-top :30px;
        /* position: relative; */
        z-index: 22;
        animation: animates 5s linear infinite;
        /* z-index: 1; */
    }
.container .box{

    padding: 50px;
    /* paing-left: 50px; */

}
p{
    /* padding: 20; */
}
.home .container .content h2 {
    font-size: 20px;
    margin: 10px 0px;
    /* color: #666; */
}
.home .container .content h2 .text{
    font-size: 30px;
   
}
}